<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OnlineChat</title>
    <meta name="description" content="Online Chat Room."/>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>	
</head>
<body>
    <div class="container">
        <div id="dialog" class="dialog">
        </div>
        <div class="show-user">
          <span class="user-list">在线用户[<span id="userCount">0</span>] - </span>
          <span id="userList" class="online-user"></span>
        </div>
        <div class="tool-bar">
          <input id="fileInput" type="file" style="display: none" onchange="uploadFile()">
          <button onclick="document.getElementById('fileInput').click()">上传文件</button>
          <button onclick="clearMessage()">清除屏幕</button>
          <button onclick="changeUsername()">修改昵称</button>
          <button onclick="closeWebsite()">退出</button>			
        </div>
        <div class="panel">
          <textarea id="input" class="input-box" type="text" autocomplete="off" autofocus></textarea>
          <button onclick="send()" class="send-button">发送</button>
        </div>
    </div>
</body>
</html>
