<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>聊天室 - <%= roomID %></title>
    <meta name="description" content="Secure Chat Application"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    <div class="container">
        <div id="announcement" class="announcement"></div>
        <div id="dialog" class="dialog"></div>
        <div id="lightbox" class="lightbox">
            <div class="lightbox-content">
                <button class="prev-button">&#8592;</button>
                <img class="lightbox-image" src="#">
                <button class="next-button">&#8594;</button>
                <span class="close-button">&times;</span>
            </div>
        </div>
    <div class="controls-wrapper">
        <div class="user-row">
            <span class="user-list">在线用户[<span id="userCount">0</span>] -</span> 
            <span id="userList" class="online-user"></span>
        </div>
        <div class="tool-bar-video-row-container">
            <div class="tool-bar">
                <input id="fileInput" type="file" style="display: none" onchange="uploadFile()" />
                <button onclick="document.getElementById('fileInput').click()">上传文件</button>
                <button onclick="clearMessage()">清除屏幕</button>
                <button onclick="changeUsername()">修改昵称</button>
                <button onclick="window.open('/help', '_blank', 'noopener,noreferrer')">使用说明</button>
                <button onclick="closeWebsite()">退出</button>
            </div>
            <div class="video-row">
                <span class="video-Url-title">在线视频</span>
                <input type="text" id="videoUrl" class="video-Url-box" placeholder="输入视频地址(支持m3u8)" />
                <button onclick="playVideoFromUrl()">同步观看</button>
            </div>
        </div>
    </div>
    <div class="panel">
        <textarea id="input" class="input-box" type="text" placeholder="支持 Markdown 语法，按 Shift + Enter 换行" autocomplete="off" autofocus></textarea>
        <button onclick="send()" class="send-button">发送</button>
    </div>
    </div>
	
	<div id="syncVideoContainer" class="sync-video-container">
		<div class="sync-video-header">
			<div class="sync-video-title">Watch Together</div>
			<div class="sync-video-controls">
				<button onclick="leaveSyncVideo()">关闭</button>
			</div>
		</div>
		<video id="syncVideo" class="sync-video-player" controls></video>
	</div>

	<div id="iptvPlayerContainer" class="iptv-player-container">
		<div class="iptv-player-header">
			<div class="iptv-player-title">IPTV Player</div>
			<div class="iptv-player-controls">
				<button onclick="leaveIptvPlayer()">关闭</button>
			</div>
		</div>
		<video id="iptvPlayer" class="video-js vjs-default-skin" controls>
			<p class="vjs-no-js">请启用JavaScript以观看直播</p>
		</video>
	</div>
</body>
</html>