<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OnlineChat</title>
    <meta name="description" content="Online Chat Room."/>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="container">
        <div class="heart"></div> 			
        <div class="character-art">
            <p>┏┓</p>
            <p>┃┃╱╲</p>
            <p>┃╱╱╲╲</p>
            <p>┃┗━━┳┛</p>
            <p>┃┏━┓┃</p>
            <p>┃┃╱┃┃</p>
            <p>┗┛╲┗┛</p>
            <p>┗━━┛</p>
        </div>
		<div class="hr"></div>
        <div class="character-font" >心连心 ~ 畅享沟通</div>
    </div>
</body>
</html>