* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 29);
    font-family: Consolas, "Microsoft YaHei", monospace;
}

body {
    display: flex;
    justify-content: center;    
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media  (max-width: 100%){
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 3px;
        margin-right: 3px;
    }

    body {
        display: flex;
        justify-content: center;
        background-image: none;
    }
}

.dialog {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: large;
    border: 2px;
    background-color: #20201d;
    padding: 8px 20px;
    margin-top: 8px;
}

.message-box a {
    color: rgb(0, 164, 255);
    font-weight: bold;
}

.message-box img {
    max-width: 100%;
    display: block;
    margin: 4px;
}

.message-box audio {
    max-width: 100%;
    display: block;
}

.message-box video {
    max-width: 100%;
    display: block;
}

.panel {
    width: 100%;
    height: 5em;
    font-weight: bold;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Consolas, "Microsoft YaHei", monospace;
}

.input-box {
    flex-grow: 1;
    padding: 4px 8px;
    font-size: large;
	background: #20201d;
    color: #E8E8E8;
    font-family: Consolas, "Microsoft YaHei", monospace;
}

.tool-bar {
    margin-top: 8px;
    height: 2em;
    display: flex;
	font-weight: bold;
    align-items: center;
}

.user-list {
    margin-top: 8px;
    height: 2em;
    display: flex;
	font-weight: normal;
    align-items: center;
	color: #F5F5F5;
}

.online-user {
  display: inline;
  margin-left: 5px;
  color: #00FF00；
}



button {
    font-family: Consolas, monospace;
    color: rgb(1, 136, 251);
    background-color: #fff;
    border: none;
    margin-right: 4px;
    cursor: pointer;
    padding: 4px;
}

.send-button {
    flex-grow: 0;
    font-family: Consolas, monospace;
    background-color: rgb(1, 136, 251);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    width: 4em;
}

.send-button:active {
    background-color: rgb(0, 20, 251);
    padding: 0;
}

/*

The following style code is copied from: https://github.com/koishijs/koishi, MIT license .

*/

.chat-message {
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    transform: translateX(-20%);
    transition: transform .3s ease-out,opacity .3s ease
}

.chat-message.shown {
    opacity: 1;
    transform: translateX(0)
}

.avatar,.nickname {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    border-radius: 100%;
    transform: translateY(-1px);
    pointer-events: none;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.6rem;
    color: #fff;
    font-family: "Comic Sans MS", serif
}

.nickname {
    position: relative;
    margin: 0 0 .4rem 4.2rem;
    font-weight: 700;
    font-size: .9rem;
	color: #B0C4DE
}

.message-box {
    position: relative;
    margin-left: 4.2rem;
    width: fit-content;
    border-radius: .5rem;
    color: #a6a28c;
    word-break: break-all;
    transition: background-color ease .3s
}

.chat-message:not(.no-padding) .message-box {
    padding: .5rem .7rem
}

.message-box>img {
    border-radius: .5rem
}

.message-box img {
    vertical-align: middle
}

.message-box p>img {
    margin: .2rem 0
}

.message-box::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 12px;
    height: 12px;
    border: 0 solid transparent;
    border-bottom: 8px currentColor;
    border-radius: 0 0 0 32px;
    color: #20201d;
    transition: color ease .3s
}

.message-box p {
    margin: 0
}
