* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 29);
    font-family: Consolas, "Microsoft YaHei", monospace;
}

body {
    display: flex;
    justify-content: center;    
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media  (max-width: 100%){
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 3px;
        margin-right: 3px;
    }

    body {
        display: flex;
        justify-content: center;
        background-image: none;
    }
}

.dialog {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: large;
    border: 2px;
    background-color: #20201d;
    padding: 8px 20px;
    margin-top: 8px;
}

.message-box a {
    color: rgb(0, 164, 255);
    font-weight: bold;
}

.message-box img {
    max-width: 100%;
    display: block;
    margin: 4px;
}

.message-box audio {
    max-width: 100%;
    display: block;
}

.message-box video {
    max-width: 100%;
    display: block;
}
/* 这是一条单行注释 */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 700px;
  position: relative;
  padding-top: 20px;
}

.lightbox-image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-thumbnail {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-top: 10px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  font-weight: bold;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.progress-bar {
  height: 20px;
  background-color: #0000CD;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  width: 100%;
  margin-left: 0;
  transition: margin-left 0.5s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.uploading-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Consolas, "KaiTi", monospace;
  font-weight: normal;
  color: #FFFFFF;
  margin-right: 80px;
}

.progress-percentage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-family: Consolas, "KaiTi", monospace;
  margin-left: 80px;
}

/* 这是一条单行注释 */
.panel {
    width: 100%;
    height: 5em;
    font-weight: bold;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Consolas, "Microsoft YaHei", monospace;
}

.input-box {
    flex-grow: 1;
    padding: 4px 8px;
    font-size: large;
	background: #20201d;
    color: #E8E8E8;
    font-family: Consolas, "Microsoft YaHei", monospace;
}

.tool-bar {
    margin-top: 8px;
    height: 2em;
    display: flex;
	font-weight: bold;
    align-items: center;
}
.show-user {
	display: inline-block; 
}
.user-list {
    margin-top: 8px;
    height: 2em;
	font-weight: normal;
	font-size:13px;
	vertical-align:middle;
    align-items: center;
	color: #F5F5F5;
}

.online-user {
    margin-left: 5px;
	vertical-align:middle;    
    font-size: 15px;  
}

.online-user span {
    margin-right: 13px;
}
 
.heart {
    position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
    width: 150px;  // 增大宽度
    height: 135px; // 增大高度
    margin: 0 auto; // 居中
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 75px;  
    top: 0;
    width: 75px;
    height: 120px;
    background: red;
    border-radius: 75px 75px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
} 
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}       
.character-art {
	position:relative;
    font-size: 35px;
	text-align: center;
    line-height: 1.2;
    margin: 110px auto;
	margin-bottom: -20px;
	color: #F0FFFF;
}
.hr {
	position:relative;
	border: 0px;
	width: 10%;
	border-bottom:1px solid red;
	margin: 0 auto; // 居中2
}

.character-font {
    font-size: 18px;	
	position:relative;
	color: #F0FFFF;
	text-align: center;
    font-weight: normal;
	margin: 0 auto;
	margin-top: 10px;
    font-family: Consolas, "Microsoft YaHei", monospace;
}

button {
    font-family: Consolas, monospace;
    color: rgb(1, 136, 251);
    background-color: #fff;
    border: none;
    margin-right: 4px;
    cursor: pointer;
    padding: 4px;
}

.send-button {
    flex-grow: 0;
    font-family: Consolas, monospace;
    background-color: rgb(1, 136, 251);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    width: 4em;
}

.send-button:active {
    background-color: rgb(0, 20, 251);
    padding: 0;
}

/*

The following style code is copied from: https://github.com/koishijs/koishi, MIT license .

*/

.chat-message {
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    transform: translateX(-20%);
    transition: transform .3s ease-out,opacity .3s ease
}

.chat-message.shown {
    opacity: 1;
    transform: translateX(0)
}

.avatar,.nickname {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    border-radius: 100%;
    transform: translateY(-1px);
    pointer-events: none;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.6rem;
    color: #fff;
    font-family: "Comic Sans MS", serif
}

.nickname {
    position: relative;
    margin: 0 0 .4rem 4.2rem;
    font-weight: 700;
    font-size: .9rem;
	color: #B0C4DE
}

.message-box {
    position: relative;
    margin-left: 4.2rem;
    width: fit-content;
    border-radius: .5rem;
    color: #a6a28c;
    word-break: break-all;
    transition: background-color ease .3s
}

.chat-message:not(.no-padding) .message-box {
    padding: .5rem .7rem
}

.message-box>img {
    border-radius: .5rem
}

.message-box img {
    vertical-align: middle
}

.message-box p>img {
    margin: .2rem 0
}

.message-box::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 12px;
    height: 12px;
    border: 0 solid transparent;
    border-bottom: 8px currentColor;
    border-radius: 0 0 0 32px;
    color: #20201d;
    transition: color ease .3s
}

.message-box p {
    margin: 0
}
